In [ ]:
GROUP BY 
HAVING 
JOIN
SUBQUERY 
CTE

In [ ]:




Of sales that had a valid promotion, 
the VP of marketing wants to know what % of transactions 
occur on either the very first day or the
very last day of a promotion campaign.

select 
100.0*(count sa.transaction_date)
FROM sales as
join promotions pr ON sa.promotion_id = pr.promotion_id
where pr.promotion_id is not null 
and  (sa.transaction_date = pr.start_end
or     sa.transcation_date = pr.end_data)
/ (select count(transaction_date) from sales where promotion_id is not null);

select
100.0 * SUM(CASE WHEN tr.transaction_date = pr.start_date THEN 1
         WHEN tr.transaction_data = pr.end_date THEN 1
         ELSE 0 END)
/ (count(sa.transaction_date))
FROM sales sa
join promotions pr ON sa.promotion_id = pr.promotion_id
where pr.promotion_id is not null 

select 
100.0*sum(case when s.transaction_date = p.start_date then 1
 when s.transaction_date = p.end_date then 1
 else 0 end) /
 count(s.*) as pct_of_transactions_on_first_or_last_day_of_valid_promotion
from sales s
inner join promotions p
 on p.promotion_id = s.promotion_id
where s.promotion_id <> 0


from sales where promotion_id is not null);



with

as cte
select 100.0*
(select sales_cte FROM cte)/
/ (select count(transaction_date) from sales where promotion_id is not null);


FROM promotions pr
ORDER BY     DESC
LIMIT 5

select
100.0*
SUM(CASE WHEN islowfat+is_recyclable=2 THEN 1 ELSE 0 END) / 
COUNT( distinct product_id)
from products 


select
 sum(case when is_low_fat_flg + is_recyclable_flg = 2 then 1
 else 0 end) * 100.0 /
 count(distinct product_id) as pct_low_fat_and_recyclable
from products;


select
product_name
from product
WHERE ID = ANY
(SELECT product_id FROM orderitem WHERE quantity = 1)

select
id
from customer
where 

select
name
from customer
where id = ANY
(select distinct customerid FROM order where total_amount > avg(total_amount))

select
p.product_id,
round(sum(u.units*p.price)/sum(u.units),2) as average_price
from Prices p
join UnitsSold u 
ON p.product_id = u.product_id and (u.purchase_date between p.start_date and p.end_date)
group by p.product_id



select
round(
    ifnull(
    (select count(*) from (select distinct requester_id, accepter_id from request_accepted) as A)
    /
    (select count(*) from (select distinct sender_id, send_to_id from friend_request) as B),
    0)
, 2) as accept_rate;


(select count(*) from (select distinct requester_id, accepter_id from request_accepted) as A)


select round(
(select 
count(distinct requester_id, accepter_id )
from request_accepted) /
(select
count(distinct sender_id, send_to_id)
from friend_request),2)
as accept_rate;

SELECT
p.product_name,
SUM(o.unit) as unit
FROM Products p
JOIN Orders o ON o.product_id = p.product_id
WHERE order_date >= '2020-02-01'
AND order_date < '2020-03-01'
GROUP BY p.product_id
HAVING unit > 100;

[["Leetcode Solutions", 130], ["Jewels of Stringology", 80], ["HP", 5], ["Leetcode Kit", 100]]}

select 
b.book_id, 
b.name
from books b left join
    (select book_id, sum(quantity) as book_sold
    from Orders 
    where dispatch_date between '2018-06-23' and '2019-06-23'
    group by book_id) t
on b.book_id = t.book_id
where available_from < '2019-05-23'
and (book_sold is null or book_sold <10)
order by b.book_id;

select b.book_id, b.name from
(select * from books where available_from < '2019-05-23') b
left join
(select * from Orders where dispatch_date > '2018-06-23') o
on b.book_id = o.book_id
group by b.book_id, b.name
having sum(o.quantity) is null or sum(o.quantity) <10;

select b.book_id, b.name from
(select * from books where available_from < '2019-05-23') b
left join
(select * from Orders where dispatch_date > '2018-06-23') o
on b.book_id = o.book_id
group by b.book_id, b.name
having sum(o.quantity) is null or sum(o.quantity) <10;


[[1, "Kalila And Demna", 2], [3, "The Hobbit", 1], [4, "13 Reasons Why", 2], [5, "The Hunger Games", 2]]}
[[1,"Kalila And Demna"],[2,"28 Letters"],[5,"The Hunger Games"]]}

SELECT
ROUND(
  (SUM(CASE WHEN order_date = customer_pref_delivery_date THEN 1 ELSE 0 END) / COUNT(delivery_id)),2) 
  AS immediate_percentage
FROM Delivery;

SELECT
(CASE WHEN order_date = customer_pref_delivery_date THEN 1 ELSE 0 END)
AS immediate_percentage
FROM Delivery;


SELECT 
parent_id AS post_id,
COUNT(sub_id, parent_id) AS number_of_comments
FROM Submissions
WHERE parent_id IS NOT NULL
AND parent_id IN 
(SELECT DISTINCT sub_id from Submissions WHERE parent_id IS NULL)
GROUP BY parent_id
ORDER BY number_of_comments DESC;


select 
a.sub_id as post_id, 
count(distinct b.sub_id) as number_of_comments
from Submissions a left join Submissions b on a.sub_id = b.parent_id 
where a.parent_id is null
group by a.sub_id

SELECT 
s.sub_id AS post_id,
(SELECT COUNT(DISTINCT(s1.sub_id)) FROM Submissions s1 WHERE s1.parent_id = s.sub_id) 
AS number_of_comments
FROM Submissions s
WHERE s.parent_id IS null
GROUP BY s.sub_id


{"headers": ["post_id", "number_of_comments"], "values": [
    [null, 0], 
    [1, 4], 
    [2, 2], 
    
    
{"headers":["post_id","number_of_comments"],"values":[
    [1,3],
    [2,2],
    [12,0]]}