In [ ]:

Highschooler ( ID, name, grade ) 
English: There is a high school student with unique ID and a given first name in a certain grade. 

Friend ( ID1, ID2 ) 
English: The student with ID1 is friends with the student with ID2. 
Friendship is mutual, so if (123, 456) is in the Friend table, so is (456, 123). 

Likes ( ID1, ID2 ) 
English: The student with ID1 likes the student with ID2. 
Liking someone is not necessarily mutual, so if (123, 456) is in the Likes table, 
there is no guarantee that (456, 123) is also present. 


For every student who likes someone 2 or more grades younger than themselves, 
return that student's name and grade, and the name and grade of the student they like. 


SELECT h.name, h.grade
FROM Highschooler h
INNER JOIN Likes ON h.ID = Likes.id2
GROUP BY Likes.id2
HAVING COUNT(*) > 1;


SELECT name, grade
FROM Highschooler
WHERE id IN (SELECT id2 FROM Likes GROUP BY id2 HAVING COUNT(DISTINCT id1)>1);


SELECT 
name,
grade
FROM Highschooler
WHERE id IN
(SELECT
id2 as id, COUNT(*)
FROM Likes
GROUP BY id2 
HAVING COUNT(*) >=2);


SELECT 
id2 
FROM Likes 
GROUP BY id2 
HAVING COUNT(DISTINCT id1)>1;


SELECT
id2 as id, COUNT(*)
FROM Likes
GROUP BY id2 
HAVING COUNT(*) >=2;







SELECT 
h.name,
h.grade
FROM Highschooler h
WHERE h.id IN
(SELECT
id2 as id, COUNT(*)
FROM Likes
GROUP BY id2 
HAVING COUNT(*) >=2);



Q9. Find the name and grade of all students who are liked by more than one other student.

SELECT name, grade
FROM Highschooler h1
WHERE 
(SELECT COUNT())

SELECT COUNT(*) FROM Likes


SELECT
h1.name,
h1.grade,
h2.name,
h2.grade
FROM Highschooler h1
INNER JOIN Likes l ON h1.id=l.id1
INNER JOIN Highschooler h2 ON h2.id=l.id2
WHERE (h1.grade - h2.grade)>=2;


SELECT 
h1.name, 
h1.grade, 
h2.name, 
h2.grade
FROM Highschooler h1, Highschooler h2, Likes
WHERE h1.ID = Likes.ID1 AND
h2.ID = Likes.ID2 AND 
h1.grade = h2.grade+2;

SELECT H1.name, H1.grade, H2.name, H2.grade
FROM Highschooler H1
INNER JOIN Likes ON H1.ID = Likes.ID1
INNER JOIN Highschooler H2 ON H2.ID = Likes.ID2
WHERE (H1.grade - H2.grade) >= 2;



Q3. For every pair of students who both like each other, 
return the name and grade of both students. 
Include each pair only once, 
with the two names in alphabetical order.


SELECT
h1.name,
h1.grade
FROM Highschooler h1, Highschooler h2, Likes l
WHERE h1.Id=l.id2

h2.name,
h2.grade

SELECT l.id1
WHERE l.id2=l.id1;



SELECT h1.name, h1.grade, h2.name, h2.grade
FROM Highschooler h1, Highschooler h2, Likes l1, Likes l2
WHERE h1.ID = l1.ID1 AND h2.ID = l1.ID2 AND h2.ID = l2.ID1
AND h1.ID = l2.ID2 AND h1.name < h2.name;


Q7. For each student A who likes a student B where the two are not friends
find if they have a friend C in common (who can introduce them!)
For all such trios, return the name and grade of A, B, and C. 

SELECT h1.name, h1.grade, h2.name, h2.grade, h3.name, h3.grade
FROM Highschooler h1, Highschooler h2, Highschooler h3, Friends f, Likes l1, Likes l2
WHERE h1.id!=f.id2 AND h1.id=l1.id2 AND f.id2=h2.id AND f.id2=h3.id;


SELECT DISTINCT H1.name, H1.grade, H2.name, H2.grade, H3.name, H3.grade
FROM Highschooler H1, Highschooler H2, Highschooler H3, Likes L, Friend F1, Friend F2
WHERE (H1.ID = L.ID1 AND H2.ID = L.ID2) AND H2.ID NOT IN (
  SELECT ID2
  FROM Friend
  WHERE ID1 = H1.ID
) AND (H1.ID = F1.ID1 AND H3.ID = F1.ID2) AND (H2.ID = F2.ID1 AND H3.ID = F2.ID2);



SELECT DISTINCT H1.name, H1.grade, H2.name, H2.grade, H3.name, H3.grade
FROM Highschooler H1, Highschooler H2, Highschooler H3, Likes, Friend F1, Friend F2
WHERE H1.ID = Likes.ID1 AND Likes.ID2 = H2.ID AND
  H2.ID NOT IN (SELECT ID2 FROM Friend where ID1 = H1.ID) AND
  H1.ID = F1.ID1 AND F1.ID2 = H3.ID AND
  H3.ID = F2.ID1 AND F2.ID2 = H2.ID;